@font-face {
  font-family: "poller_oneregular";
  src: url("../fonts/pollerone/pollerone-webfont.eot");
  src: url("../fonts/pollerone/pollerone-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/pollerone/pollerone-webfont.woff") format("woff"),
    url("../fonts/pollerone/pollerone-webfont.ttf") format("truetype"),
    url("../fonts/pollerone/pollerone-webfont.svg#poller_oneregular")
      format("svg");
}
@font-face {
  font-family: "leckerli_oneregular";
  src: url("../fonts/leckerlione/leckerlione-regular-webfont.eot");
  src: url("../fonts/leckerlione/leckerlione-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/leckerlione/leckerlione-regular-webfont.woff") format("woff"),
    url("../fonts/leckerlione/leckerlione-regular-webfont.ttf")
      format("truetype"),
    url("../fonts/leckerlione/leckerlione-regular-webfont.svg#leckerli_oneregular")
      format("svg");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  text-align: center;
}
nav {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}
nav > ul > li {
  display: inline;
}
nav > ul > li > a {
  color: black;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 20px;
  font-weight: normal;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  display: inline-block;
}
nav > ul > li > a:hover {
  color: #184a4b;
  background-color: whitesmoke;
}

/* Incia seccion principal*/
.imagenPrincipal {
  position: relative;
}
.contenedorImagen {
  overflow: hidden;
  height: 500px;
  width: 100%;
}
.contenedorImagen > img {
  width: 100%;
  margin-top: -310px;
  filter: grayscale(100%);
}
.textoImagen {
  position: absolute;
  top: 10%;
  right: 10%;
  color: whitesmoke;
  font-size: 35px;
  text-align: right;
}
.textoImagen > h1 {
  font-family: poller_oneregular;
  background-color: white;
  color: black;
  margin-bottom: 25px;
}
.textoImagen > p {
  color: white;
  background-color: black;
  margin-bottom: 15px;
  width: 50%;
  margin-left: 50%;
  padding-right: 6px;
}
.textoImagen > a {
  background-color: #184a4b;
  color: white;
  text-decoration: none;
  padding: 10px;
  margin-top: 30px;
}
/* Se inicia una nueva seccion de estilos */
.estilos {
  width: 100%;
  margin-top: 15px;
  overflow: hidden;
}
.estilos > ul {
  width: 1000px;
  margin: auto;
  list-style: none;
}
.estilos > ul > li {
  width: 320px;
  float: left;
}
.estilos > ul > li > a {
  display: block;
  text-decoration: none;
  text-align: center;
}
.estilos > ul > li > a > img {
  width: 300px;
  -webkit-box-shadow: 2px -1px 26px -2px rgba(0, 0, 0, 0.84);
  -moz-box-shadow: 2px -1px 26px -2px rgba(0, 0, 0, 0.84);
  box-shadow: 2px -1px 26px -2px rgba(0, 0, 0, 0.84);
  border: 1px solid black;
  filter: grayscale(100%);
}
.estilos > ul > li > a > span {
  display: block;
  color: black;
  font-size: 40px;
  font-family: poller_oneregular;
}
/* se agrega pie de pagina */
footer {
  background-color: black;
  color: white;
  margin-top: 30px;
}


.derechos {
  padding: 50px;
  margin-left: 40px;
  font-size: 20px;
  position: relative;
}
.derechos>p {
    float: left;
    padding-bottom: 30px;
}
.derechos > ul {
    display: block;
    float: right;
    list-style: none;
    position: absolute;
    top: 30px;
    right: 40px;
}
